<div>
  <h1>{{ title }}</h1>

  <button (click)="loadPublicEvents()">Carregar Eventos Públicos</button>
  <ul>
    <li *ngFor="let event of publicEvents">
      {{ event.type }} - {{ event.created_at }}
    </li>
  </ul>

  <button (click)="loadRepoEvents()">Carregar Eventos do Repositório</button>
  <ul>
    <li *ngFor="let event of repoEvents">
      {{ event.type }} - {{ event.created_at }}
    </li>
  </ul>

  <label for="eventType">Escolha um tipo de evento (Público):</label>
  <select id="publicEventType" [(ngModel)]="selectedEventType">
    <option value="">Todos</option>
    <option *ngFor="let eventType of eventTypes" [value]="eventType">{{ eventType }}</option>
  </select>

  <button (click)="filterEventsByType()">Filtrar Eventos Públicos</button>

  <h2>Eventos Públicos Filtrados</h2>
  <ul>
    <li *ngFor="let event of filteredPublicEvents">
      {{ event.type }} - {{ event.created_at }}
    </li>
  </ul>

  <label for="repoEventType">Escolha um tipo de evento (Repositório):</label>
  <select id="repoEventType" [(ngModel)]="selectedRepoEventType">
    <option value="">Todos</option>
    <option *ngFor="let eventType of eventTypes" [value]="eventType">{{ eventType }}</option>
  </select>

  <button (click)="filterRepoEventsByType()">Filtrar Eventos do Repositório</button>

  <h2>Eventos Filtrados do Repositório Alvo</h2>
  <ul>
    <li *ngFor="let event of filteredRepoEvents">
      {{ event.type }} - {{ event.created_at }}
    </li>
  </ul>
</div>
